* {
	font-family: monospace;
	font-size: 14px;
}

window#waybar {
	background-color: rgba(43,48,59,0.9);
	color: #ffffff;
}

#workspaces button {
	padding: 0 10px;
	color: #ffffff;
}

#workspaces button.active {
	background-color: rgba(255,255,255,0.2);
}

#clock, #cpu, #memory, #network, #pulseaudio, #battery {
	padding: 0 10px;
}
